@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 10em;
}
.gradient {
  background: linear-gradient(to right, #c04848, #480048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex-08{
  flex: 0.8 !important;
}
img.img-fluid {
  object-fit: cover;
  width: 100%;
  min-height: 16em;
  height: 100%;
  display: none;
}

.col-lg-4:focus > article .h6.card-title.h5, article:active .h6.card-title.h5, article:hover .h6.card-title.h5 {
  height: 6em;
}
.col-lg-4:focus > article .h6.card-title.h5, article:active .h6.card-title.h5, article:hover .h6.card-title.h5 {
  height: 6em;
}
.col-lg-4:focus > article article .row, article:active article .row, article:hover article .row{
  min-height: 12em;
}
.col-lg-4:focus > article img.img-fluid , .col-lg-4:focus > article .card-text, article:active img.img-fluid , article:active .card-text, article:hover img.img-fluid, article:hover .card-text {
  display: block;
}
main .row .col-lg-4:hover, main .row .col-lg-4:focus {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  width: 100%;
}
main .row .col-lg-4:nth-child(1):hover, main .row .col-lg-4:nth-child(1):focus {
  margin-left: 0;
}
main .row .col-lg-4:nth-child(2):hover, main .row .col-lg-4:nth-child(2):focus {
  margin-left: -33.3333333333%;
}
main .row .col-lg-4:nth-child(3):hover, main .row .col-lg-4:nth-child(3):focus {
  margin-left: -66.6666666666%;
}

article .h6.card-title.h5 {
  height: 6em;
}
article .card-text {
  display: none;
}
@media (max-width: 1200px) {
  article .h6.card-title.h5 {
    height: 7em;
  }
}
@media (max-width: 991.98px) {
  article .h6.card-title.h5 {
    height: auto;
  }
  .col-lg-4:focus > article .h6.card-title.h5, article:active .h6.card-title.h5, article:hover .h6.card-title.h5 {
    height: auto;
  }
  .col-lg-4:focus > article .h6.card-title.h5, article:active .h6.card-title.h5, article:hover .h6.card-title.h5 {
    height: auto;
  }
  main .row .col-lg-4:nth-child(1):hover, main > .row .col-lg-4:nth-child(1):focus {
    margin-left: 0;
  }
  main .row .col-lg-4:nth-child(2):hover, main > .row .col-lg-4:nth-child(2):focus {
    margin-left: 0;
  }
  main .row .col-lg-4:nth-child(3):hover, main > .row .col-lg-4:nth-child(3):focus {
    margin-left: 0;
  }
}
.zindex-fixed{
  z-index: 1000;
}
footer {
  width: 6em;
  height: 2em;

  background-color: black;
  position: fixed;
  bottom: 0em;
  left: 50%;
  margin-left: -3em;
  margin-bottom: 1em;
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
.form-check-input{
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 1em;
}
.collapse:not(.show){
  display: none !important;
}
.spinner-border {
  height: 8em !important;
  width: 8em !important;
  border-width: 1.2em !important;
}
.form-select, input.form-control{
  height: 2.3em;
}
.floating-in-middle {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}