    {% extends "base.html" %}
    
    {% load static %}
    {% block header %}<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">{% endblock %}

    {% block title %}Detail{% endblock %}

    {% block content %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
    </svg>

    <div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Python Web Task</span>
        </a>
        </div>
    </header>
        <main class="mt-20">
            <h2 class="display-6 text-left mb-4">Domain detail</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="square">
                        <p>{{ domain.name }}</p>
                        <div class="labels">
                        {% for domain_flag in domain.domain_flags.all %}
                            <span class="badge bg-primary rounded-pill {% if domain_flag.domain_flag.id == 3 %} bg-danger {% endif %} {% if domain_flag.domain_flag.id == 2 %} bg-warning text-dark {% endif %}">{{domain_flag.domain_flag.name}}</span>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">Created at  <span class="badge rounded-pill bg-light text-dark">{{ domain.created_at|date:"d.m. Y"}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">Expiring at <span class="badge rounded-pill bg-light text-dark">{{ domain.expiring_at|date:"d.m. Y"}}</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center {% if not domain.deleted_at %} disabled {% endif %}">Deleted at <span class="badge rounded-pill bg-danger">{{ domain.deleted_at|date:"d.m. Y" }}</span></li>
                    </ul>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </main>
    </div>
    {% endblock %}
