    {% extends "base.html" %}
    
    {% block title %}List of domains{% endblock %}

    {% block content %}
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </symbol>
        </svg>

        <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Python Web Task</span>
            </a>
            </div>
        </header>
            <main class="mt-20">
                <h2 class="display-6 text-left mb-4">Domain data</h2>

                <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th></th>
                    {% for domain_flag in domain_flags %}
                        <th>{{ domain_flag.name }}</th>
                    {% endfor %}

                    </tr>
                    </thead>
                    <tbody>
                    {% for domain in domains %}
                        {{ domain.domain_flags.all }}
                        <tr>
                            <th scope="row" class="text-start"><a href="/detail/{{ domain.id }}">{{ domain.name }}</a></th>
                            {% for i in domain_flags_range %}
                                <td>
                                    {% if i in domain.domain_flags %}<i class="bi bi-check text-success"></i>{% endif %}
                                    {% if i not in domain.domain_flags %}<i class="bi bi-x"></i>{% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </main>
        </div>
    </body>
    {% endblock %}
