.square{
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    height: 100%;
    width: auto;
    min-height: 200px;
    min-width: 200px;
    position: relative;

    -webkit-border-radius: 12px; 
    -moz-border-radius: 12px; 
    border-radius: 12px; 
}
.square > p {
    font-family: var(--bs-body-font-family);
    font-size: xx-large;
}
.square > div.labels{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 10px;
    bottom: 10px;
    width: 90%;
    overflow: auto;
}
.square > div.labels > span{
    margin-right: 5px;
}